<html>
<title>Viewer Page</title>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
<link rel="stylesheet" href="css/video.css">
</head>

<body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; background: rgb(44, 38, 48); width: 100% !important; height: 100% !important; margin: 0px; padding: 0px;"
    tabindex="-1">
    <div id="app" class="full-height ng-scope" style="width:100%;height:100%;" ng-app="app" ng-controller="myCtrl">
        <!-- Health bar at the top of the screen -->
        <div id="bossHealth">
            <div id="bossHealthChild" style="background: rgb(38, 54, 4); width: 63%;"></div>
            <div id="bossHealthPercentage">{{remainingHealthPercentage}}%</div>
        </div>

        <!-- Click this tab to bring out left Menu! -->
        <div id="leftMenu" style="left: -250px;">
            <h3 id="leftMenuTitle">
                <span style="text-align: left;">Upgrades</span>
                <span style="text-align: right;font-size:15px;" id="currentUpgradePoints">{{upgradePoints | number : '1.2'}}</span>
            </h3>
            <ul id="leftMenuContent">
                <li ng-repeat="upgrade in upgradeList">
                    <span style="float:left;position:absolute;text-align: left;top:2.5px;left:2.5px;">{{upgrade.name}}</span>
                    <span style="float:right;position:absolute;text-align: right;top:2.5px;right:2.5px;font-size:15px;" >LVL: {{upgrade.level}}</span>
                    <span style="float:left;position:absolute;text-align: left;bottom:2.5px;left:2.5px;font-size:13px;">DPS: {{calculateDamage(upgrade.level, upgrade.baseDamageMultiplierPercentage, upgrade.baseDamage, upgrade.additionalDamage)}}</span>
                    <span style="float:right;position:absolute;text-align: right;bottom:2.5px;right:2.5px;font-size:13px;">Cost: {{calculateCost(upgrade.level, upgrade.baseCostMultiplierPercentage, upgrade.baseCostToUpgrade)}}</span>
                    <div class="upgradeOverlay" data-ng-click="upgradeClicked(upgrade.name)">
                        <div>UPGRADE</div>
                    </div>
                </li>
            </ul>
            <div id="leftMenuTab">
                <div data-ng-click="toggleLeftMenu()">
                    <span class="glyphicon glyphicon-chevron-right" id="leftMenuTabArrow" style="transform: rotate(0deg);"></span>
                </div>
            </div>
        </div>

        <div id="clickArea"style="position: absolute;top:0;left:0;width:100%;height:100%;display:grid;justify-content: center;align-items: center;">

            <div id="bossImage">
                <img ng-click="clicked()" src="imgs/tempboss.png" alt="galaxy">
            </div>
            
        </div>

        <div id="joinOverlay">
            <div id="joinButton" ng-click="joinFight()">JOIN</div>
        </div>
    </div>
    <script src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js"></script>
    <script src="viewer.js" type="text/javascript"></script>

    <script src="js/video.js"></script>


</body>

</html>