<html onmouseover="enterPage()" >
<title>Viewer Page</title>
<script src="cdnfiles/jquery-3.3.1.js"></script>
<script src="cdnfiles/angular.js"></script>
<script src="cdnfiles/socket.io.js"></script>
<script src="cdnfiles/pixi.min.js"></script>
<link rel="stylesheet" href="css/video.css">

<script src="js/init.js"></script>

</head>

<body tabindex="-1" ng-app="app" ng-controller="myCtrl">
    <div id="app" class="full-height ng-scope">
        <!-- Health bar at the top of the screen -->
        <div id="bossHealth">
            <div id="bossHealthChild"></div>
            <div id="bossHealthPercentage">{{remainingHealthPercentage}}%</div>
            <div id="bossTimerChild"></div>
            <div id="minimizeGame" ng-click="closeApp()">
                <span class="glyphicon glyphicon-remove"></span>
            </div>
        </div>

       <div id="floor">
           <h3>{{currentFloor}}</h3>
       </div> 

        <div id="clickArea">
            
        </div>

        <div id="joinOverlay">
            <div id="joinButton" ng-click="joinFight()">JOIN</div>
        </div>

        <div id="registerClicks" ng-click="clicked()"></div>
    </div>
    <div id="twitchScreenDetector">
        <div id="twitchButton" ng-click="openApp()">OPEN</div>
    </div>
    <div id="topOverlay"></div>
    <div id="bottomOverlay"></div>
    <script src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js"></script>
    <script src="viewer.js" type="text/javascript"></script>

    <script src="js/game.js"></script>
    <script src="js/video.js"></script>


</body>

</html>