@import url("./bootstrap.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: "Roboto", sans-serif;
    user-select: none;
}

body {
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity 0.25s ease;
}

/* All the css for the left menu goes here \/ */

#leftMenu {
    display: grid;
    position: absolute;
    width: 100%;
    z-index: 900;
    height: 100%;
    top: 0px;
    background: rgb(31, 31, 31);
    border-right: 2px solid #f1f1f1;
    -webkit-transition: left .5s ease-out;
    -moz-transition: left .5s ease-out;
    -o-transition: left .5s ease-out;
    transition: left .5s ease-out;
    grid-template-rows: 25px 500px;
}

#upgrades{
    min-height:425px;
    -webkit-transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out;
}

#leftMenuTitle {
    display: grid;
    align-items: center;
    color: #f1f1f1;
    font-weight: 900;
    letter-spacing: 2px;
    grid-template-columns: 1fr 1fr;
    margin: 5px 0px 0px;
    padding: 10px 10px;
}

#leftMenuContent {
    width: 100%;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
    background: rgb(24, 24, 24);
    height:100%;
    padding:0px;
}

#leftMenuInfo{
    color:#f1f1f1;
    font-size: 20px;
    padding:5px;
}
#leftMenuInfo span{
    float:right;
    text-align:right;
}

#leftMenuContent li {
    color: #f1f1f1;
    height: 50px;
    margin-bottom: 2.5px;
    cursor: pointer;
    position: relative;
    background: rgb(44, 38, 48);
    padding: 5px;
}


#leftMenuContent li div.upgradeOverlay {
    display: block;
    opacity: 0;
    width: 290px;
    height: 60px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9000;
    background: rgba(57, 46, 92, 0.9);
    padding: 5px;
    transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
}

#leftMenuContent li:hover div.upgradeOverlay {
    opacity: 1;
}

#leftMenuContent li div.upgradeOverlay div {
    color: rgb(31, 31, 31);
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
}

#leftMenuContent li div.upgradeOverlay div:active {
    margin-top: 2px;
    margin-left: 2px;
    background: #d8d7d7;
    color: rgb(54, 54, 54);
}

#leftMenuTabArrow {
    transition: transform 0.5s ease-in-out;
}

/* scroller css */

#menuScroller{
    position: relative;
    height:50px;
}

#menuScroller ul{
    margin:0;
    height:100%;
}

.scroller{
    display:grid;
    justify-content: center;
    align-items: center;
    width:40px;
    position:absolute;
    top:0;
    height:100%;
    color:#f1f1f1;
    font-size:25px;
    z-index:3;
    background: rgb(31, 31, 31);
}

.scroller span:hover{
    cursor: pointer;
}

#leftScroller{
    left:0;
    
}

#rightScroller{
    right:0;
    
}

#menuContent{
    background:green;
    position:absolute;
    left:40px;
    min-width:220px;
    z-index:2;
    list-style-type: none;
    padding:0;
    white-space: nowrap;
    transition: left 0.5s ease;
}

#menuContent li{
    min-width:110px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:#111111;
    color:#f1f1f1;
    padding:0;
    margin:0;
    display: inline-block;
    height:100%;
}

#menuContent li#overlay{
    height:45px;
    border-bottom:5px solid #f1f1f1;
    position:absolute;
    left:0;
    background:rgba(0,0,0,0);
    transition: left 0.25s ease;
}

#menuContent li:hover{
    cursor:pointer;
}

#menuContent li div{
    height:100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

/* Item overlay */

#exitItemOverlay{
    color:#f1f1f1;
    font-size:25px;
    position: absolute;
    top:5px;
    right:5px;
    z-index:90001;
}

#exitItemOverlay:hover{
    cursor: pointer;
}

#itemOverlay{
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:rgba(33,33,33,0.78);
    z-index:90000;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

#itemOverlay img.displayImage{
    width:200px;
    height:200px;
    margin:auto;
    margin-top:25px;
    display:block;
    -webkit-transition: margin .25s ease-in-out;
    -moz-transition: margin .25s ease-in-out;
    -o-transition: margin .25s ease-in-out;
    transition: margin .25s ease-in-out;
    position:absolute;
    top:55px;
    left:50px;
}

#itemOverlay img.displayImage.clickable:hover{
    cursor:pointer;
}

#itemOverlay img.displayImage:hover{
    margin-top:20px;
}
#itemOverlay div.crate img{
    width:40px;
    height:40px;
}

#itemOverlay div.crate span{
    display:inline;
    text-align:center;
}

#itemOverlay div.crate{
    display:grid;
    justify-content: center;
    align-items: center;
    width:200px;
    height:75px;
    background:#111111;
    box-shadow:#000000 0px 4px 4px;
    grid-template-columns: 40px 55px;
    white-space: nowrap;
    margin:auto;
    margin-top:200px;
    color:#f1f1f1;

    -webkit-transition: margin .25s ease-in-out;
    -moz-transition: margin .25s ease-in-out;
    -o-transition: margin .25s ease-in-out;
    transition: margin .25s ease-in-out;
}

#itemOverlay div.crate:hover{
    margin-top:195px;
    cursor: pointer;
}

#itemOverlayTitle{
    font-size:25px;
    color:#f1f1f1;
    margin:auto;
    text-align:center;
    margin-top:25px;
}

#itemOverlayAmount{
    font-size:20px;
    color:#f1f1f1;
    margin:auto;
    text-align: center;
    margin-top:5px;
}

#itemOverlayReason{
    font-size:20px;
    color:#f1f1f1;
    margin:auto;
    text-align: center;
    margin-top:5px;
}


/* Inventory CSS */

#inventory{
    min-height:425px;
    -webkit-transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out;
}

#inventoryItems{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    padding:0;
    margin:0;
}

#inventoryItems li{
    height:45px;
    width:45px;
    margin:2.5px;
    font-size:normal;
    background:#111111;
    position: relative;
}

#inventoryItems li img{
    width:45px;
    height:45px;
    position: absolute;
    z-index:1;
    top:0;
    left:0;
}

#inventoryItems li:hover{
    cursor: pointer;
}

#inventoryItems li div{
    position:absolute;
    color:#f1f1f1;
    z-index:2;
    bottom:2;
    right:2;
    font-size:15px;
    text-shadow: black 2px 2px 4px;
}

#equippedItems{
    font-size:0px;
}

#equippedItems div{
    display:inline-block;
    background:#111111; 
    height:45px;
    width:45px;
    margin:2.5px;
    font-size:normal;
}
